<template name="todoAdd">
  <form>
    <div class="input-group input-group-lg">
      <input type="text" name="title" class="form-control" placeholder="Things you forget..">
    </div>
    <br>

    <div class="input-group input-group-lg">
      <input type="text" name="description" class="form-control" placeholder="Are you serious?">
    </div>
    <br>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Add" class="btn btn-success"/>
      </div>
    </div>

  </form>
</template>