<template name="todoEdit">
      <form>
        <div class="input-group input-group-lg col-md-8">
          <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Things you forget..">
        </div>
        <br>

        <div class="input-group input-group-lg col-md-8">
          <input type="text" name="description" value="{{description}}" class="form-control"
                 placeholder="Are you serious?">
        </div>
        <br>

        <div class="btn-group btn-group-md" role="group">
          <input type="submit" value="Update" class="btn btn-success"/>
          <a type="submit" class="btn btn-danger delete-todo" href="">Delete</a>
        </div>

      </form>
</template>